/* CUADRO DE USUARIO EN SIDEBAR */
.thumbnail {
    padding: 19px;
    border: 2px solid #F28322;
}

.thumbnail img {
    margin-bottom:15px;
}

/* LOGIN EN SIDEBAR */
.well {
    border: 2px solid #F28322;
    background-color: white;
}

.well a {
    color: #F28322;
}

.well a:hover {
    color: #D9761F;
}

.well .error {
    color: #D90416;
}

/* BARRA DE INFORMACIÓN */
.alert-info {
    background-color: #FFFFFF;
    border: 2px solid #0AA696;
    color: #0AA696;
    text-align: right;
    height: 29px;
}

.alert-info a {
    color: #0AA696;
}

.alert-info a:hover {
    color: #076E63;
}

.alert-info p {
    margin-top: 5px;
}

/* FOOTER */
.alert-footer {
    background-color: #FFFFFF;
    border: 2px solid #6A2EA6;
    color: #6A2EA6;
    text-align: center;
    height: 29px;
}

.alert-footer a {
    color: #6A2EA6;
}

.alert-footer a:hover {
    color: #4B2175;
}

.alert-footer p {
    margin-top: 5px;
}

input.span3 {
    width: 95%;
}

/* CITAS EN CARRUSEL */
.carousel-caption {
    background: rgba(10, 166, 150, 0.75);
}

/* PESTAÑAS */
.nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-pills > li > a:hover {
    background-color: #0CC9C6;
    color: white;
}

.nav-pills > li > a {
    color: #0AA696;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #0AA696;
}

.nav-tabs {
    border-bottom: 2px solid #F2B807;
    padding-left: 73px;
    margin-top: 0px;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    border: 2px solid #F2B807;
    border-bottom-color: transparent;
    color: #D90416;
}

.nav-tabs > li > a {
    color: #D90416;
}

.nav-tabs > li > a:hover {
    background-color: #F7B6B1;
}

.tab-content {
    border-bottom: 2px solid #F2B807;
    border-right: 2px solid #F2B807;
    border-left: 2px solid #F2B807;
    margin-top: -5px;
    margin-bottom: 20px;
    /*padding: 15px;*/
    width: 696px;
}

.tab-content p {
    padding: 15px;
    text-align: justify;
}

.tab-content .form-horizontal {
    padding: 15px;
}

.tab-content .form-actions {
    background-color: #FFFFFF;
    border-top: 1px solid #F2B807;
}

/* ACORDEÓN */
.accordion-group {
    border: 2px solid #F2B807;
}

.accordion-group a {
    color: #D90416;
}

.accordion-group a:hover {
    color: #A60311;
}

blockquote small {
    color: #FFFFFF;
}

.form-search input:focus {
    border-color: #0AA696;
    -webkit-box-shadow: 0 0 8px #0AA696;
    -moz-box-shadow: 0 0 8px #0AA696;
    box-shadow: 0 0 8px #0AA696;
    outline: 0;
}

.well input:focus, .well textarea:focus {
    border-color: #F28322;
    -webkit-box-shadow: 0 0 8px #F28322;
    -moz-box-shadow: 0 0 8px #F28322;
    box-shadow: 0 0 8px #F28322;
    outline: 0;
}

.main-content input:focus, .main-content textarea:focus, .main-content select:focus,
.nav-tabs input:focus, .nav-tabs textarea:focus, .nav-tabs select:focus, 
.tab-content .form-horizontal input:focus, .tab-content .form-horizontal textarea:focus, .tab-content .form-horizontal select:focus {
    border-color: #F2B807;
    -webkit-box-shadow: 0 0 8px #F2B807;
    -moz-box-shadow: 0 0 8px #F2B807;
    box-shadow: 0 0 8px #F2B807;
    outline: 0;
}

.main-content .form-actions {
    background-color: #FFFFFF;
    border-top: 1px solid #F2B807;
}

.contact-content {
    background-color: #FFFFFF;
    border: 2px solid #F2B807;
    margin-bottom: 20px;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.contact-content input:focus, .contact-content textarea:focus {
    border-color: #F2B807;
    -webkit-box-shadow: 0 0 8px #F2B807;
    -moz-box-shadow: 0 0 8px #F2B807;
    box-shadow: 0 0 8px #F2B807;
    outline: 0;
}

.contact-content .form-actions {
    background-color: #FFFFFF;
    border-top: 1px solid #F2B807;
}

.contact-content legend {
    color: #D90416;
}

.pstrength-minchar {
    font-size : 11px;
}

.pstrength-bar {
    max-width: 200px !important;
    margin-top: 5px;
}

.tab-content legend {
    color: #D90416;
}

textarea {
    resize:none;
}

dl {
    padding: 15px;
    padding-top: 0px;
}

.alert-success {
    margin: 15px;
    margin-bottom: 0px;
}

.alert-error {
    margin: 15px;
}

.mod {
    display: inline-block;
    margin-bottom: 0;
}

.mod .control-group {
    margin-bottom: 18px;
    *zoom: 1;
}

.mod .control-group:before,
.mod .control-group:after {
    display: table;
    content: "";
}

.mod .control-group:after {
    clear: both;
}

.mod .control-label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
}

.mod .controls {
    margin-left: 160px;
    /* Super jank IE7 fix to ensure the inputs in .input-append and input-prepend don't inherit the margin of the parent, in this case .controls */

    *display: inline-block;
    *margin-left: 0;
    *padding-left: 20px;
}

.mod .form-actions {
    padding-left: 160px;
}

.span9 a {
    color: #D90416;
}

.dropdown-menu li > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0CC9C6;
}

.tabbable .accordion {
    margin-left: 15px;
    margin-right: 15px;
}

/* DATATABLE */

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.sorting_asc {
    background: url('../img/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../img/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../img/sort_both.png') no-repeat center right;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 2px solid #F2B807;
    text-align: center;
    color: #F2B807;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    margin-top: 15px;
    margin-left: 15px;
    width: 40%;
    float: left;
}

.dataTables_filter {
    margin-top: 15px;
    margin-right: 15px;
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_length label select {
    width: 70px;
    display: inline;
}

.dataTables_filter label input {
    display: inline;
}

.dataTables_filter label input:focus {
    border-color: #F2B807;
    -webkit-box-shadow: 0 0 8px #F2B807;
    -moz-box-shadow: 0 0 8px #F2B807;
    box-shadow: 0 0 8px #F2B807;
    outline: 0;
}

.dataTables_info {
    margin-left: 15px;
}

/* DATATABLE PAGINATION */

.paging_full_numbers {
    height: 36px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

.paging_full_numbers a:active {
    outline: none;
    background-color: whiteSmoke;
    color: #999999;
    cursor: default;
}

.paging_full_numbers a:hover {
    text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    padding: 7px 14px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
    cursor: pointer;
    *cursor: hand;
    color: #333;
}

.paging_full_numbers a.paginate_button {
    background-color: #ffffff;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: whiteSmoke;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    outline: none;
    background-color: whiteSmoke;
    color: #999999;
    cursor: default;
}

.paging_full_numbers a.paginate_button_disabled {
    outline: none;
    background-color: whiteSmoke;
    color: #999999;
    cursor: default;
}

.paging_full_numbers a.first {
    border-left: 1px solid #ddd;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.paging_full_numbers a.last {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/* MODAL */
.mod .control-label {
    width: 80px;
}

.mod .controls {
    margin-left: 90px;
}

/* CHOSEN */
.chzn-container {
    width: auto;
}

.span9 .btn {
    color: #333;
}

.span9 .close {
    color: #333;
}

/* DATATABLE COLUMNS WIDTH */

#main-column {
    width: 50% !important;
}

#main-column-author {
    width: 25% !important;
}

#main-column-user {
    width: 30% !important;
}

#main-column-mail {
    width: 30% !important;
}

.icons-column {
    width: 20px !important;
}

.title-column {
    width: 20% !important;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #FFF;
    border-color: #ccc;
    cursor: default;
}

.date_input {
    background: white url("../img/calendar.png") right no-repeat;   
}

/* MENÚ (FIJO) */
.bw-menu {
    position: fixed; 
    background-color: #fff; 
    z-index: 1000;
}

.bw-border-bottom {
    position: fixed; 
    background-color: #fff; 
    z-index: 900; 
    border-bottom-color: #0AA696; 
    -webkit-box-shadow: 0 0 10px #0AA696;
    -moz-box-shadow: 0 0 10px #0AA696;
    box-shadow: 0 0 10px #0AA696;
    width:2500px;
    left:0px;
    margin-left: 0px;
    height: 5px;
    padding-top: 40px;
}

.tab-content dd, .modal-body {
    text-align: justify;
}

.sinopsis {
    clear: both; 
    text-align: justify; 
    color: #000; 
    padding:20px;
}

.sinopsis p {
    padding: 0px;
}

.comment {
    margin: 20px; 
    margin-bottom: 0px; 
    padding: 35px 10px 10px; 
    clear:both; 
    background-image: url('../img/notebook.jpg');
}

.comment p {
    font-size: 15px;
}